<input type="checkbox" id="check"/>
    <!-- PHẦN HEADER START -->
    <header>
      <label for="check"><i class="fas fa-bars" id="sidebar_btn"></i></label>
      <div class="left-area">
        <h3>Admin <span>Management</span></h3>
      </div>
      <div class="right-area">
      <form action="/BAITAPLON/authen/logout.php" method="post"> 
        <button type="submit" name="logout" value="Logout" class="logout_btn">Đăng xuất</button>
      </form> 
      </div>
    </header>
    <!-- PHẦN HEADER END -->

    <!-- PHẦN SIDEBAR RESPONSIVE START -->
    <div class="mobile_nav">
      <div class="mobile_nav_items">
        <a href=""><i class="fas fa-home"></i><span>Trang chủ</span></a>
        <a href=""><i class="fas fa-cogs"></i><span>Quản lý người viết</span></a>
        <a href=""><i class="fas fa-shopping-cart"></i><span>Danh mục bài viết</span></a>
        <a href=""><i class="fas fa-box-open"></i><span>Quản lý bài viết</span></a>
        <a href=""><i class="fas fa-desktop"></i><span>Bình luận bài viết</span></a>
      </div>
    </div>
    <!-- PHẦN SIDEBAR RESPONSIVE END -->

    <!-- PHẦN SIDEBAR START -->
    <div class="sidebar">
      <a href=""><i class="fas fa-home"></i><span>Trang chủ</span></a>
      <a href=""><i class="fas fa-cogs"></i><span>Quản lý người viết</span></a>
      <a href=""><i class="fas fa-shopping-cart"></i><span>Danh mục bài viết</span></a>
      <a href=""><i class="fas fa-box-open"></i><span>Quản lý bài viết</span></a>
      <a href=""><i class="fas fa-desktop"></i><span>Bình luận bài viết</span></a>
    </div>
    <!-- PHẦN SIDEBAR END -->